# Loading Data

Load Data from a external source

We do not load local files, because loading local files with colab is very different from loading with a local **Jupyter** installation.

In [0]:
import pandas as pd
import io
import requests


url = 'https://raw.githubusercontent.com/unibas-franckborel/course_jupyter/master/examples/ex1.csv'
c = pd.read_csv(url)
c

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Automatically add column names

In [0]:
url2 = 'https://raw.githubusercontent.com/unibas-franckborel/course_jupyter/master/examples/ex2.csv'
d = pd.read_csv(url2)
d

e = pd.read_csv(url2, names= ['a', 'b','c', 'd', 'message'])
e

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo